.popup__close-icon {
  color: #fff;
  margin: 0;
  font-size: 70px;
  font-weight: 100;
  position: absolute;
  top: -60px;
  right: -35px;
  transform: rotate(-45deg);
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__close-icon {
    top: -70px;
    right: -5px;
    font-size: 50px;
  }
}